

header {
  background: #678392;
  height: 80px;
}

.logo {
  float: left;
  line-height: 50px;
  margin-left:35px;
margin-top:10px;

}

.nav {
  list-style-type: none;
  float: right;
}
.nav li {
  display: inline-block;
  margin-right: 40px;
  line-height: 60px;
  margin-top:5px;
  letter-spacing: .2em;
}
.nav a {
  color: white;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
}
* {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.btn-2 {
    letter-spacing: 1;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
  border-bottom: 1px dotted;
    padding-bottom: 9px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: black;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}
/*.nav a:hover {
  text-decoration: underline;
}*/

.mob-nav {
  width: 20px;
  height: 50px;
  display: none;
  float: right;
  margin: 15px;
}
.mob-nav .mob-nav-line {
  width: 100%;
  height: 3px;
  margin-bottom: 3px;
  background: #DFD5BB;
  display: block;
}

@media (max-width: 600px) {
  .mob-nav {
    display: block;
  }

  .nav {
    display: none;
    width: 100%;
    margin-top: -30px;
  }
  .nav li {
    width: 100%;
      background: #DFD5BB;
    text-align: center;
    margin-right: 0;
  }
  .nav li a {
    text-align: center;
    top: 0px;
    position: relative;
    color: #6B8493;
    width: 100%;
    display: block;
  }
  .nav li a:hover {
    background: white;
    color:#E07363;

  }
}
.active {
  display: block;
}
