@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Pacifico|Roboto:400,500|Titillium+Web);
nav {
  background: #333;
  overflow: auto;
  padding: 5px;
  position: relative;
  z-index: 2;
  margin-top:-10px;
  margin-right:-10px;
  margin-left:-10px;
  }


.logo{
	margin-left:20px;
	margin-top:12px;	
}

ul {
  text-align: center;
  float: right;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  display: block;
  padding: 5px 10px;
  margin: 0 10px;
  color: #eee;
  font-family: 'Titillium Web', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 32px;
  font-weight: bold;
  transition: all 200ms linear;
}

nav a:hover,
nav#small a:hover {
  color: #E07363;
  text-decoration: underline;
}

nav#small {
  background: #fff;
  padding: 20px 40px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 2px #fff;
}

nav#small h1,
nav#small a {
  color: #333;
}

nav#small h1 {
  font-size: 38px;
}

nav#small h1>a {
  color: #C18055;
}

nav#small h1>a:hover {
  color: #E07363;
}
nav#small h1>a:active {
  color: #9BD6D9;
}



div#content h2 {
  color: #fff;
  font-weight: bold;
  transform: rotate(-10deg);
  line-height: 60px;
  font-size: 48px;
  text-transform: uppercase;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 10%;
  bottom: 10%;
  text-shadow: 2px 2px 2px #333;
  font-family: 'Pacifico', cursive;
}



@media (max-width: 700px) {
  nav {
    padding: 20px;
  }
  nav {
    display: block;
    float: none;
    text-align: center;
    padding: 5px;
  }
  .logo{
	  margin-left:auto;
	  margin-right:auto;
	  width:80px;
	  height:auto;  
  }
  nav ul {
    float: none;
    padding: 20px;
  }
  div#content h2 {
    width: 30%;
  }
  nav#small {
    padding: 20px;
  }
  nav#small ul {
    padding: 5px;
  }
  nav#small h1 {
    padding: 10px;
    font-size: 28px;
    margin-bottom: 5px;
  }
  nav#small a {
    font-weight: normal;
  }
}