@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  margin: 0;
  padding: 0;
}

.menuIcon {
  background: #27bdb8;
  display: block;
  font-family: "Raleway";
  color: #fff;
  text-decoration: none;
  padding: .75em;
  font-size: 1.5em;
  text-align: right;
}

.nav {
  background: #27bdb8;
  margin: 0;
  padding-top:5px;
  padding-bottom:5px;
  text-align: center;
  display: none;

}
.logo{
	float:left;
	margin-top:2px;	
	margin-left:5px;
}
.nav li {
  font-family: "Raleway";
  font-weight: 700;
  list-style: none;
  color: white;
  letter-spacing: .1em;
  padding: 1em;
  float:right;
}

.nav a {
  text-decoration: none;
}

.selected {
  background: #06919a;
}

.list {
  display: block;
}

@media screen and (min-width: 480px) {

  .nav {
    font-size: 0;
    background: #27bdb8;
    padding: 0;
	padding-bottom:5px;
	padding-bottom:5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    display: block;
  }

  .nav li {
    font-family: "Raleway";
    font-weight: 700;
    color: #fff;
    list-style: none;
    display: inline-block;
    font-size: 1rem;
    letter-spacing: .1em;
    padding: 1em;
  }

  .selected {
    background: #06919a;
  }
  
  .menuIcon {
    display: none;
  }
  
}