@charset "UTF-8";
/* CSS Document */

/*@media only screen and (min-width: 320px) and (max-width: 479px){ 
#myface{
	height:12%;
	position:fixed;
	background-color:#E76F5C;
}
 }

@media only screen and (min-width: 480px) and (max-width: 767px){ 
#myface{
	height:15%;
	position:fixed;
	background-color:#E76F5C;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px){ 
#myface{
	height:22%;
	position:fixed;
	background-color:#E76F5C;
}
 }

@media only screen and (min-width: 992px) and (max-width: 1999px){ 
#myface{
	height:30%;
	position:fixed;
	background-color:#E76F5C;

}
}*/