@charset "utf-8";
/* CSS Document */

@import url(https://fonts.googleapis.com/css?family=Raleway|Titillium+Web);
.aboutP{
font-family: 'Raleway', sans-serif;	
}
.aboutT{
font-family: 'Titillium Web', sans-serif;
}

#myface{
	background-color:#E76F5C;
	 display: table;
	 width:100%;
	 height:20%;
}
.title{
	vertical-align: middle;
	display: inline-block;
	float:left;
	
}
.face{
	vertical-align: middle;
	display: inline-block;
	width:30%;
	border-radius: 50%;
	float:right;
	margin-right:20px;
	
	
}

#aboutdiv{
	background-color:#F5D7CA;
	color:grey;	
}

#gallery{
	margin-left:auto;
	margin-right:auto;	
	max-width:80%;
}

@media only screen and (min-width: 320px) and (max-width: 479px){ 
}